In [22]:
import numpy as np
import pandas as pd
import csv

import logging

import matplotlib.pyplot as plt
import requests
import json

import locale # to format currency as USD
locale.setlocale( locale.LC_ALL, '' )

pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data
from pprint import pprint

from config import api_key

In [ ]:
#response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' 
                        #+  api_key + '&primary_release_year=1970?&sort_by=revenue.desc')
                       # +  api_key + '&primary_release_year=for_range_in_year?&sort_by=revenue.desc')
#response

In [34]:
year_df = pd.DataFrame()
decade_df = pd.DataFrame()

for year in range(1970,1990): 
    response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' 
                            +  api_key + '&primary_release_year=' 
                            + str(year) + '&sort_by=revenue.desc&language=en-US')
                           
    #store parsed json response
    highest_revenue = response.json() 

    # highest_revenue
    highest_revenue_films = highest_revenue['results']

    data_df = pd.DataFrame(highest_revenue_films)
    
    year_df[str(year)] = data_df['id']
    

for x in range(0,2):    
    decade_list = []
    for year in range(1970+(x*10),1980+(x*10)):
        decade_list.append(year_df[str(year)])
    flat_decade_list = [item for x in decade_list for item in x]
    decade_df[str(year-9)] = flat_decade_list

decade_df.head()
    #     # define column names for our new dataframe
#     columns = ['id', 'revenue', 'year']

#     # create dataframe with film and revenue columns
#     df = pd.DataFrame(columns=columns)  
# df.head()

    1970   1980
0   9062   1891
1  10671   8536
2  11202    525
3    651  21629
4  10112    813

In [35]:
decade_list[0]

0      1891
1      8536
2       525
3     21629
4       813
5     17169
6     16769
7     12705
8      8393
9      4488
10     5689
11      694
12    28124
13    13612
14    11977
15     1623
16    11033
17     3604
18     1955
19     1578
Name: 1980, dtype: int64

In [ ]:
    #for film in highest_revenue_films:
#         film_revenue = requests.get('https://api.themoviedb.org/3/discover/movie?' + str(film['id']) +'?api_key='+ api_key+'&language=en-US')
#         film_revenue = film_revenue.json()
#         #pprint(film_revenue)
#         mylist = ([df], [film_revenue])
#         print(mylist)
#         ict_df = pd.DataFrame([ pd.Series(value) for value in mylist ])
#         print(locale.currency(film_revenue['revenue'], grouping=True ))
#         print(film_revenue)
#         df.loc[len(df)]=[film['id'],film_revenue['revenue'],film['release_date']] # store title and revenue in our dataframe 
#         #print(df)
# #data_df.head()

In [ ]:
# store parsed json response
#highest_revenue = response.json() 

# highest_revenue
#highest_revenue_films = highest_revenue['results']

#highest_revenue_films

In [ ]:
#data_df = pd.DataFrame(highest_revenue_films)
#data_df.head()

In [ ]:
# define column names for our new dataframe
#columns = ['id', 'revenue', 'year']

# create dataframe with film and revenue columns
#df = pd.DataFrame(columns=columns)
#df.head()

In [33]:
# for film in highest_revenue_films:
#     # print(film['title'])
#     film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key+'&language=en-US')
#     film_revenue = film_revenue.json()
#     mylist = [[df], [film_revenue]]
#     ict_df = pd.DataFrame([ pd.Series(value) for value in mylist ])
#     print(locale.currency(film_revenue['revenue'], grouping=True ))
#     df.loc[len(df)]=[film['id'],film_revenue['revenue'],film['release_date']] # store title and revenue in our dataframe 
    
#     print(df)

In [ ]:
    data = pd.DataFrame(df)  
    data.sort_values(by=['year'])

In [ ]:
data_df